<ion-header-bar align-title="center" class="bar-positive">

  <h1 class="title">New IOU/Payment</h1>
  <div class="buttons padding">
    {{userName}}
  </div>
</ion-header-bar>
<ion-view>
    <ion-content class="padding">
    <form name='myForm' class="simple-form">
        <h3>Create a New IOU or Payment Here</h3>
        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Roommate "A"
            </div>
           <select ng-model='roommateA' required ng-options='roommate.name for roommate in roommates'></select>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Transaction Type
            </div>
             <select ng-model='transaction' required ng-options='transaction.name for transaction in transactions'></select>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Roommate "B"
            </div>
           <select ng-model='roommateB' required ng-options='roommate.name for roommate in roommates'></select>
          </label>
          <label class="item item-input" required>
            <input type="number" placeholder="Amount">
          </label>

         
        <button class="button button-block button-positive" ng-click='submit(myForm)'>Submit</button>
      </form>
    </ion-content>
</ion-view>
