/* Empty. Add your own CSS if you like */
.control-group.error .help-inline,
.control-group.error input {
    border-color: #B94A48;
    color: #B94A48;
}

.conditionDescription {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border: 2px solid #CCC;
    text-align: center;
}

.no-border-top {
    border-top: none;
}

span.error {
    color: #BA0303;
}

.delete-X {
	color: #D71212;
	cursor: pointer;
}

.trans-by {
	text-align: right;
}

.payDescription {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: #555;
}

.noPadTop {
	margin-top: -15px;
}

.paid {
	color: green;
}

.owes {
	color: #BA0303;
}